{% extends 'partials/base.html.twig' %}
{% set sessions = page.collection() %}
{% block content %}
    <!-- Begin page content -->
    <!-- Small jumbotron for interior pages-->
    <div class="hero-unit-sm">
        <div class="container">
        </div></div>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-12">
                <div class="col-md-1 col-sm-12">
                    {% block submenu %}
                        {% include 'partials/program-submenu.html.twig' %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-9">
                <h3>{{ page.title }}</h3>
                <table>
                    <tr>
                        <th>Title</th>
                        <th width=40%>Presenters</th>
                        <th>Format</th>
                    </tr>
                    {% for session in sessions %}
                        <tr>
                            <td><a href="{{ base_url_absolute }}{{ session.route }}">{{ session.title }}</a></td>
                            <td>
                                <ul>
                                    {% for presenter in session.header.taxonomy.presenters %}
                                        <li>{{ presenter.name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ session.header.taxonomy.format }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-1">
                <div class="circular-sess"></div>
            </div>
        </div></div>
{% endblock %}
