{% extends 'partials/base.html.twig' %}
{% do assets.addCss('https://cdn.rawgit.com/booncon/slippry/master/dist/slippry.css') %}
{% do assets.addJs('https://cdn.rawgit.com/booncon/slippry/master/dist/slippry.min.js') %}
{% do assets.addJs('theme://js/custom.js', {group: 'bottom'}) %}
{% set sponsors = page.collection() %}
{% block content %}
  <h1>Sponsors</h1>
  <ul id="slippry-sponsors">
    {% for sponsor in sponsors %}
      {{ dump(sponsor) }}
      <li>
        <h2>{{ sponsor.title }}</h2>
        <a href="#slide1"><img src="/user/pages{{ sponsor.route }}/{{ sponsor.folder }}.jpg" alt="Just Do It!"></a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block bottom %}
  {{ assets.js('bottom') }}
{% endblock %}